.filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
  }
  
  input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-right: 10px;
  }
.search {
    display: flex;
    justify-content: center;
    gap: 5px;
    .input {
        border-radius: 5px;
    }
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;


    .container__cards {
        width: 350px;
        max-height: fit-content ;
        margin: 25px;
        border: 10px solid greenyellow ;
        display: flex;
        flex-direction: column;
        padding: 15px;

        .container__cards__status {
            .red {
                background-color: rgb(181, 61, 61);
            }
            .green {
                background-color: rgb(70, 192, 70);
            }
            .grey {
                background-color: rgb(142, 137, 137) ;
            }
        }
    }
}

@media (max-width: 570px) {
    .filters {
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
  
    label {
      margin-bottom: 10px;
    }
  
    input,
    select {
      width: 100%;
      margin-bottom: 15px;
    }
  
    .search {
      flex-direction: column;
      gap: 10px;
  
      .input {
        width: 100%;
      }
    }
  
    .container {
      justify-content: center;
  
      .container__cards {
        width: 250px;
        max-height: fit-content ;
        margin: 15px;
        border: 10px solid greenyellow ;
        display: flex;
        flex-direction: column;
        padding: 15px;

         img {
            width:250px;
            max-height: auto;
            margin-bottom: 10px;
        }

        .container__cards__status {
            .red {
                background-color: rgb(181, 61, 61);
            }
            .green {
                background-color: rgb(70, 192, 70);
            }
            .grey {
                background-color: rgb(142, 137, 137) ;
            }
        }
    }
    }
  }

  @media (max-width: 770px) {
    .filters {
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
  
    label {
      margin-bottom: 10px;
    }
  
    input,
    select {
      width: 100%;
      margin-bottom: 15px;
    }
  
    .search {
      flex-direction: column;
      gap: 10px;
  
      .input {
        width: 100%;
      }
    }
  
    .container {
      justify-content: center;
  
      .container__cards {
        width: 250px;
        max-height: fit-content ;
        margin: 15px;
        border: 10px solid greenyellow ;
        display: flex;
        flex-direction: column;
        padding: 15px;

         img {
            width:250px;
            max-height: auto;
            margin-bottom: 10px;
        }

        .container__cards__status {
            .red {
                background-color: rgb(181, 61, 61);
            }
            .green {
                background-color: rgb(70, 192, 70);
            }
            .grey {
                background-color: rgb(142, 137, 137) ;
            }
        }
    }
    }
  }