.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .card {
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 16px;
        margin: 16px;
        max-width: 600px;
        border: 10px solid greenyellow ;

      
        h2 {
          font-size: 24px;
          margin-top: 0;
        }
      
        img {
          max-width: 100%;
        }
      
        ul {
          display: flex;
          flex-direction: column;
          overflow-x: hidden;
          overflow-y: scroll;
          max-height: 200px;
          padding: 8px 0;
      
          li {
            margin-right: 8px;
            margin-bottom: 8px;
            flex-shrink: 0;
          }
        }
      }
      
  }
