.home__img {
    width: 900px;
    margin: 100px;
    animation: move 2s infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 570px) {
    .home__img {
        width:350px
    }
    @keyframes move {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(50px);
        }
        100% {
            transform: translateY(0);
        }
    }
}

@media screen and (max-width: 770px) {
    .home__img {
        width:350px
    }
    @keyframes move {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(50px);
        }
        100% {
            transform: translateX(0);
        }
    }
}
